
.container {
    background-color: brown;
    width: 700px;
    height: 700px;
    margin: 0 auto;
}

header > p {
    color: #fff;
    font-size: 70px;
    text-align: center;
    padding-top: 40px;
    font-family: 'Pacifico', cursive;
}

#divNumber {
    color: #fff;
    font-size: 50px;
    text-align: center;
}

form {
    text-align: center;
}

input[type='number']  {
    width: 300px;
    height: 80px;
    border: none;
    font-size: 30px;
    text-align: center;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::placeholder {
    text-align: center;
    font-size: 20px;
}

input[type='button']  {
    width: 130px;
    height: 80px;
    background-color: red;
    color: #fff;
    font-size: 19px;
    border: none;
    position: relative;
    top: -5px;
}